doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    script(src="/javascripts/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/jquery.signaturepad.css')
    script(src="/javascripts/jquery.signaturepad.min.js")
    script(src='/javascripts/json2.min.js')
    <!--[if lt IE 9]><script src="/javascripts/flashcanvas.js"></script><![endif]-->

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')

    block includefiles
  body
    block header
    block content
    block footer