extends layout

block header
  include header.jade

block content
    p List all NDA documents

    .well
      .row
        .col-md-1
        .col-md-10
          img.img-thumbnail(src='http://placehold.it/150x150')
          img.img-thumbnail(src='http://placehold.it/150x150')
          img.img-thumbnail(src='http://placehold.it/150x150')
          img.img-thumbnail(src='http://placehold.it/150x150')
         .col-md-1
      .row
        .col-md-1
        .col-md-10
          img.img-thumbnail(src='http://placehold.it/150x150')
          img.img-thumbnail(src='http://placehold.it/150x150')
          img.img-thumbnail(src='http://placehold.it/150x150')
          img.img-thumbnail(src='http://placehold.it/150x150')
         .col-md-1